/* Block */
.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
}

/* Element */
.list__item {
    list-style: none;
    background-color: var(--tertiary-color);
    padding: 8px 18px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

/* Modifier */
.list__item--highlight {
    background-color: var(--highlight-color);
}

/* Modifier für Block/Container */
.list--special {
    color:  mediumpurple;
 }