/* Block */
.list-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
}

/* Element */
.list__item {
    list-style: none;
    background-color: lightgoldenrodyellow;
    padding: 8px 18px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

/* Modifier */

.list__item--highlight {
    background-color: khaki;
}