.social-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    background-color: #fafad2;
    box-shadow: var(--shadow);
    max-width: 300px;
}